@import "./style/Header.css";
@import "./style/SideNav.css";
@import "./style/Loader.css";
@import "./style/LoginFailedModel.css";
@import "./style/LogIn.css";
@import "./style/SignUp.css";
@import "./style/UserActivityModel.css";
@import "./style/Home.css";
@import "./style/VideoList.css";
@import "./style/VideoListCard.css";
@import "./style/History.css";
@import "./style/HistoryCard.css";
@import "./style/History.css";
@import "./style/WatchLater.css";
@import "./style/PlayList.css";
@import "./style/LikedVideos.css";
@import "./style/VideoPage.css";
@import "./style/SmallLoder.css";

.App {
  text-align: center;
}
:root {
  --primaryColor: #1e282f;

  --secondaryColor: #487eb0;
  --textColor: #dfe6e9;
}
body {
  color: var(--textColor);
  background-color: var(--primaryColor);
}
* {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}

ul {
  list-style: none;
}

.link {
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
}
p {
  margin: 0;
}
a {
}
